html,body {
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-x:hidden;
	font-family: 'Josefin Sans', sans-serif;
}


.home{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
    background-color: #000;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	/* padding-left: 8%; */
	padding-right: 10%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 5%;
}
span{
	color: rgb(0,255,255);
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: rgb(0,255,255);
	transition: .4s;
}


#cv-btn{
	background-color:  transparent;
	border: 2px solid rgb(0,255,255);
	border-radius: 0px 0px 10px 10px;
	padding: 13px 30px;
	
	
}

#resume-txt{
	color: rgb(255, 248, 248);
	font-size: 15px;
}

#resume-txt:hover{
font-size: 20px;
	--c: #f0f0f0; 
	padding-block: var(--b);
	transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s)); 
  }
.btn{
	background-color:  transparent;
	border: 2px solid rgb(0,255,255);
	border-radius: 0px 0px 10px 10px;
}
.btn:hover{
	
font-size: 20px;
--c: #f0f0f0; 
padding-block: var(--b);
transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s)); 
}
.intro-content{
	position: relative;
	top: 55%;
	left:8%;
	transform: translateY(-50%);
	display: flex;
}

#intro-image{
	position: relative;
	height: 350px;
	margin-left: 10%;
	margin-bottom: 15%;
	border-radius: 2%;

	
}

#about-img{
position: relative;
height: 350px;
border-radius: 2%;
}

h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
    margin-top:1%;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button:hover{
	background-color: transparent;
	border: 2px solid rgb(0,255,255);
	cursor: pointer;
}

.projects{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 340px;
	width: 190px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 0 1px rgb(254, 255, 255);
}



.card i{
	font-size: 25px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: rgb(0,255,255);

}

.viewandgithub a{
	color: aqua;
	/* text-decoration: none; */
}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:rgb(0,255,255);
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid rgb(0,255,255);
	color: white;
	cursor: pointer;
}




#tipcalc{
	align-items: center;
	justify-content: center;
	width: 80%;
	margin-bottom: 5%;
	height: 170px;
}



footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(0,255,255);
	border-radius: 50%;
	margin: 22px 10px;
	text-decoration: none;
	font-size: 20px;
	
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

#socials-img{
	width: 25px;
}


.end{
	position: absolute;
	color:rgb(0,255,255);
	bottom: 35px;
	font-size: 14px; 
}

/* .fa-linkedin{
	color: #000;
} */


 

