html,body {
    margin:0;
    padding: 0;
    overflow-x:hidden;
    background-color: rgb(7, 72, 66);

  }


.container-one{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-one img{
width: 10.5rem;
height: 10rem;
border-radius: 50%;
border: solid salmon;
margin: 3rem 1rem -5rem 1rem;
}

.intro{
    text-align: center;
    background-color: rgb(238, 234, 241);
    margin: 0rem 1rem 3.1rem 1rem;
    height: 11rem;
    padding-top: 5rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

span{
 /* text-shadow: 0.1rem 0.1rem; */
 font-weight: 600;
 font-size: 1.1rem;
}
hr{
    width: 10rem;

}

a{
    color: black;
    font-size: larger;
    padding: 0.5rem;

}

.socials{
    display: flex;
    align-items: center;
    justify-content: center; 

}

.navandlogo{
    display: flex;
}

.projects-and-resume{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    margin-left: 90%;
    
}

.card{
    background-color: white;
    /* width: 15rem; */
    /* height: 20rem; */
    /* margin:0.5rem; */
    /* flex: 0 1 calc(25% - 1em);  */
    border-radius: 0.65rem;
    box-shadow: 0 0 50px rgba(11, 11, 11, 0.726); 
}

.card:hover{
    transform: translateY(-10px);
}

.card p{
    /* text-align: justify; */
    padding: 1rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
    flex: 1 0 5rem;
    box-sizing: border-box;
    margin: 1rem .25em;
}

.code{
text-align:center;
margin: 1rem;
color: black;
font-weight: bold;
box-shadow: 0 0 10px rgba(11, 11, 11, 0.726); 


}

.project-link{
    text-align: center;
}

.projects-title{
    text-align: center;
    color: salmon;
}


h3 a{
    text-decoration: none;
    color: rgb(20, 91, 95);
    border: solid salmon;
    border-radius: 0.65rem;
}


#projects{
    background-color: white;
    margin: 0rem 0rem 0rem -5rem;
    text-decoration: none;
    border-radius: 0.65rem;
    font-weight: 510;
    box-shadow: 0 0 5px salmon; 


}
#resume{

    background-color: white;
    text-decoration: none;
    border-radius: 0.65rem;
    font-weight: 510;
    box-shadow: 0 0 5px salmon; 


}

.logo{
    margin: 1rem 1rem 1rem 1rem;
    color: white;
    font-size: 2rem;
}

.lastline{
    color: black;
    width: 80%;
    height: 0.001rem;

}

.thanks{
    text-align: center;
    color: salmon;
}

#stack{
    font-weight: 550;
    font-size: 0.7rem;
    color: rgb(0, 9, 12);
    margin-left: 8rem;
}


.projects-container{
    text-align: center;
    /* padding:2rem; */
    margin: 0 auto;
    width: 100%;


}


@media screen and (max-width: 992px) {
    html,body {
        margin: 0;
        padding: 0;
        overflow-x:hidden;
      }
  
  
        .cards{
            display: inline;
  
          }
    
  
  .card{
      background-color: white;
      width: 15rem;
      height: 20rem;
      margin: 0 auto;
          /* margin: 4rem 1rem 4rem 1rem; */
      border-radius: 0.65rem;
      box-shadow: 0 0 50px rgba(11, 11, 11, 0.726); 
  }
    
    .navandlogo{
        display: inline;
    }
    
    .projects-and-resume{
        display: inline;
        text-align: center;
        /* padding: 1rem; */
        /* justify-content: space-evenly; */
        /* margin: 0.5rem 3rem 1rem 49rem; */
        
    }
    
    #projects{
        background-color: white;
        /* margin: 0rem 0rem 0rem -5rem; */
        text-decoration: none;
        border-radius: 0.65rem;
        font-weight: 510;
        box-shadow: 0 0 5px salmon;
    
    }
    #resume{
        /* margin-left: 2rem; */
        background-color: white;
        text-decoration: none;
        border-radius: 0.65rem;
        font-weight: 510;
        box-shadow: 0 0 5px salmon; 
  
    }
  }
  
  @media screen and (max-width: 600px) {
    html,body {
      margin: 0;
      padding: 0;
      overflow-x:hidden;
    }


      .cards{
          display: inline;

        }
  

.card{
    background-color: white;
    width: 15rem;
    height: 20rem;
    margin: 0 auto;
        /* margin: 4rem 1rem 4rem 1rem; */
    border-radius: 0.65rem;
    box-shadow: 0 0 50px rgba(11, 11, 11, 0.726); 
}
  
  .navandlogo{
      display: inline;
  }
  
  .projects-and-resume{
      display: inline;
      text-align: center;
      /* padding: 1rem; */
      /* justify-content: space-evenly; */
      /* margin: 0.5rem 3rem 1rem 49rem; */
      
  }
  
  #projects{
      background-color: white;
      /* margin: 0rem 0rem 0rem -5rem; */
      text-decoration: none;
      margin-left: 1rem;
      border-radius: 0.65rem;
      font-weight: 510;
      box-shadow: 0 0 5px salmon;
  
  }
  #resume{
      margin-left: 5rem;
      /* margin-left: 1rem; */
      background-color: white;
      text-decoration: none;
      border-radius: 0.65rem;
      font-weight: 510;
      box-shadow: 0 0 5px salmon; 

  }
    }
  